do_token = "YOUR DIGITAL OCEAN PERSONAL ACCESS TOKEN HERE"
do_bucket_access_id = "BUCKET ACCESS ID (CREATED/RETRIEVED ON SPACES OBJECT STORAGE > ACCESS KEYS)"
do_bucket_secret_key = "BUCKET SECRET KEY (CREATED/RETRIEVED ON SPACES OBJECT STORAGE > ACCESS KEYS)"